@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-shadow {
  box-shadow: hsl(26, 100%, 55%, 0.5) 0px 18px 50px -10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
